@import "../../../app/mixin.scss";

.HeaderMobile {
    width: 100%;
    padding: 15px 15px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #F5841F;
    box-sizing: border-box;

    @include md {}

    @include lg {
        display: none;
    }

    @include xl {}

    @include xxl {}
}