.BetSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .BetSection-Hero {
    width: 100%;
    display: flex;
    gap: 20px;

    .BetSection-HeroCard {
      width: 50%;
      height: 250px;
    }
  }

  .BetSection-CardWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .Tabs-Section {
      display: flex;
      align-items: center;
      gap: 50px;

      .Tab {
        font-family: "GilmerMedium";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        background: linear-gradient(270deg, #faf9f9 0%, #d7d7d7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        cursor: pointer;
        width: 180px;
        display: flex;
        justify-content: center;

        &:hover {
          opacity: 0.8;
        }
      }

      .Tab-Active {
        padding: 8px 20px;
        box-sizing: border-box;
        background: linear-gradient(
          90deg,
          #f5841f 0%,
          #ed801e 25%,
          #e57b1d 50%,
          #d5731b 75%,
          #c66b19 100%
        );
        border-radius: 10px;
        font-family: "GilmerMedium";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        display: flex;
        justify-content: center;
        line-height: 24px;
        width: 180px;
        color: white;
        cursor: pointer;
      }
    }

    .BetCard-Wrapper {
      width: 100%;
      height: 300px;
      overflow: hidden;
      display: flex;
      gap: 20px;

      .BetCard-Container {
        width: 400px;
      }
    }
  }
}
