.WalletButtons {
  display: flex;
  justify-content: center;
  align-items: center;

  .Buttons {
    display: flex;
    align-items: center;
    .ClaimButton {
      font-family: "GilmerMedium";
      background: linear-gradient(90deg, #ae842e 0%, #d8c36d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      padding-block: 6px;
      font-size: 14px;
      padding-inline: 18px;
      border-radius: 12px;
      margin-right: 10px;
      border: 1px solid #d8c36d;
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
    }
    .AddressBtn {
      border-radius: 8px;
      padding: 8px 30px;
      cursor: pointer;
      font-family: "GilmerMedium";
      color: white;
      font-size: 14px;
      background-color: #202020;
      border: 1px solid #3d3d3d;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &:hover {
        opacity: 0.8;
      }

      span {
        margin-top: 3px;
      }

      .AddressBtn-Logo {
        width: 15px;
        height: 15px;
      }
    }
  }
}
