@import "../../../src/app/mixin.scss";

.Header-Wrapper {
    padding: 10px 30px;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md {
        display: flex;
        padding: 15px 30px;
    }

    @include lg {}

    @include xl {}

    @include xxl {
        padding: 20px 200px;
    }


    .Header-LogoContainer {
        width: 35%;

        .Header-Logo {
            width: 40px;
            height: 40px;
            background-image: url("/assets/logos/raizemobilelogo.svg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            @include md {
                width: 40px;
                height: 40px;
                background-image: url("/assets/logos/raizelogo.svg");
            }

            @include lg {}

            @include xl {}

            @include xxl {}

        }
    }



    .Header-LinksContainer {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex: 1;

        @include md {}

        @include lg {
            display: flex;
        }

        @include xl {}

        @include xxl {}
    }

    .Header-ButtonsContainer {
        display: flex;
        justify-content: flex-end;
        width: 35%;
    }
}