@import "../../../src/app/mixin.scss";

.Header-Wrapper {
    padding: 10px 25px;
    background-color: #101010;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    @include md {
        padding: 15px 30px;
    }

    @include lg {
        padding: 10px 30px;
    }

    @include xl {
        padding: 15px 30px;
    }

    @include xxl {
        padding: 15px 150px;
    }


    .Header-LogoContainer {
        grid-column: 1 / 2;

        @include md {}

        @include lg {}

        @include xl {}

        @include xxl {}

        .Header-Logo {
            width: 30px;
            height: 30px;
            background-image: url("/assets/logos/raizemobilelogo.svg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            @include md {
                width: 40px;
                height: 40px;
                background-image: url("/assets/logos/raizelogo.svg");
            }

            @include lg {
                width: 30px;
                height: 30px;
            }

            @include xl {
                width: 30px;
                height: 30px;
            }

            @include xxl {
                width: 40px;
                height: 40px;
            }

        }
    }



    .Header-LinksContainer {
        grid-column: 2 / 3;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @include md {}

        @include lg {
            gap: 20px;
            display: flex;
        }

        @include xl {}

        @include xxl {
            gap: 30px;
        }
    }

    .Header-ButtonsContainer {
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        width: auto;

        @include md {
            width: auto;
        }

        @include lg {}

        @include xl {
            width: auto;
        }

        @include xxl {}
    }
}