.League {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #0c0c0c;
    border: 1px solid #545454;
    border-radius: 5px;
    color: #909090;
    font-size: 16px;
    gap: 10px;
    font-family: "GilmerRegular";
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }


    .LeagueImage {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: antiquewhite;
    }
}