@import "../../../app/mixin.scss";

.HeaderLink {
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: "GilmerRegular";
    text-decoration: none;
    background-color: #F5841F;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: white;
        color: #F5841F;
    }

    .HeaderLink-Logo {
        width: 15px;
        height: 15px;
        margin-bottom: 3px;
    }
}

.HeaderLink-White {
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #c6c6c6;
    border-radius: 40px;
    color: #c6c6c6;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: "GilmerRegular";
    text-decoration: none;
    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: white;
        border: 1px solid white;
        color: #F5841F;
    }

    .HeaderLink-Logo {
        width: 12px;
        height: 12px;
        margin-bottom: 3px;
    }
}