@import "../../../app/mixin.scss";

.HeaderLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F5841F;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: "GilmerRegular";
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    filter: drop-shadow(5px 5px 31px #F5841F);
    transition: all 0.1s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        bottom: -27px;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        height: 1px;
        background: url('/assets/images/line.svg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.2s ease;
    }

    &:hover::after {
        width: 0px;
    }

    @include md {}

    @include lg {
        font-size: 14px;
    }

    @include xl {
        font-size: 14px;
    }

    @include xxl {
        font-size: 16px;
    }

    &:hover {
        filter: none;
        color: white;
    }

    .HeaderLink-Logo {
        width: 15px;
        height: 15px;
        margin-bottom: 3px;
    }
}

.HeaderLink-White {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    color: #c6c6c6;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: "GilmerRegular";
    text-decoration: none;
    cursor: pointer;

    transition: all 0.1s ease-in-out;

    @include md {}

    @include lg {
        font-size: 14px;
    }

    @include xl {
        font-size: 14px;
    }

    @include xxl {
        font-size: 16px;
    }

    &:hover {
        color: #F5841F;
    }

    .HeaderLink-Logo {
        width: 12px;
        height: 12px;
        margin-bottom: 3px;
    }
}