.Contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: calc(100vh - 70px);
  font-family: "GilmerMedium";
  
  background:linear-gradient(107.74deg, #0E0E0E 0.42%, #151515 99.58%);
  .Heading-Section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
      border: 1px solid white;
      border-radius: 50%;
      padding: 10px;
      margin-right: 15px;
    }
  }
}
